@import 'settings';
@import 'common/layout';
@import 'common/typography';

* { box-sizing: border-box; }

body {
  margin: 0;
}

.app {
  @apply --box;
  height: 100%;
  font-weight: normal;
  font-smoothing: antialiased;
}


/* Add your global styles below... */


/* ex:

:global {
  & .red { color: red; }
  & .blue { color: blue; }
}

*/
