@import 'settings';
@import 'common/layout';
@import 'common/typography';

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

* { box-sizing: border-box; }

html {
  position: relative;
  min-height: 100%;
}

body {
  @apply --normal;
  font-family: var(--fontMontserrat);
  padding-top: 70px;
  margin-bottom: 60px;
}

body > .container {
  @apply --box;
}


/* Add your global styles below... */


/* ex:

:global {
  & .red { color: red; }
  & .blue { color: blue; }
}

*/
