@import '../common/typography';

.header {
  @apply --heading;
  padding-top: 30px;
  padding-bottom: 15px;
}

.subheader {
  @apply --subHeading;
  padding-bottom: 15px;
}

.paddingBottom {
  padding-bottom: 15px;
}

.lastPaddingBottom {
  padding-bottom: 25px;
}

.content { @apply --normal; }

ul.list {
  list-style-type: none;
  @apply --normal;
}

.list-item { 
  padding-bottom: 5px;
}

.list-item::before { 
  content: "-  ";
}