@import '../common/typography';
@import '../common/colors';
@import '../common/layout';

.bar-item {
  width: 100%;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
}

.title {
  @apply --flexNotMoreThan200;
  font-size: var(--fontMedium);
}

.btn-going {
  height: 20px;
  line-height: 12px;
  margin-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

