@import '../common/colors';

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

a.active,
a.active:focus,
a.active:hover {
  color: var(--white) !important;
  background-color: var(--sidebarActiveBackground) !important;
}

a.adminLink.active,
a.adminLink.active:focus,
a.adminLink.active:hover {
  background-color: #ff7503 !important;
}

.adminLink {
  background-color: #ffd1aa;
}

.nav>li>a.adminLink:focus, .nav>li>a.adminLink:hover {
  text-decoration: none;
  background-color: #ffd1aa;
  border: 1px solid #ddd !important;
}

/*
 * Main content
 */

.main {
  padding: 20px 10px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav>li {
  position: relative;
  display: block;
}
.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #eee;
}
.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
a.activeTab,
a.activeTab:focus,
a.activeTab:hover {
  color: #555 !important;
  cursor: default;
  background-color: var(--white) !important;
  border: 1px solid #ddd !important;
  border-bottom-color: transparent;
  text-decoration: none;
}