@import '../common/colors';
@import '../common/typography';


@media screen and (max-width: 1020px) {
  .footer {
    width: auto;
  }
}

.footer {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: var(--footerBackground);
}

.leftCol {
  float: left;
  width:40%;
  line-height: 28px;
}

.middleCol {
  text-align: center;
  line-height: 28px;
}

.rightCol {
  float: right;
}

.footer-content {
  margin: 5px 0;
  color: var(--footerContent);
  @apply --small;
}

.footer-link {
  color: var(--footerContent);
  @apply --small;
}

.footer-link:hover {
  color: var(--footerContent);
  @apply --small;
}