@import '../common/colors';
@import '../common/typography';

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: var(--footerBackground);
}

.footer-content {
  padding-right: 15px;
  padding-left: 15px;
  margin: 20px 0;
  color: var(--footerContent);
  @apply --small;
}

.footer-link {
  color: var(--footerContent);
  @apply --small;
}

.footer-link:hover {
  color: var(--footerContent);
  @apply --small;
}