@import '../common/typography';
@import '../common/colors';

.header {
  @apply --heading;
  padding-top: 30px;
  padding-bottom: 15px;
}

.subheader {
  @apply --subHeading;
  padding-bottom: 15px;
}

.title {
  text-align: center;
  color: var(--heading);
}

.paddingBottom {
  padding-bottom: 15px;
}

.lastPaddingBottom {
  padding-bottom: 25px;
}

.content { @apply --normal; }

ul.list, ol.list {
  @apply --normal;
}

ol.listNoType, ul.listNoType {
  list-style-type: none;
  @apply --normal;
}

.list-item { 
  padding-bottom: 5px;
}

.image-a {
  padding-left: 20px;
  padding-right: 20px;
}

.text-wrap {
  white-space: normal;
}

.frame-header {
  line-height: 120px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.frame-support-banner {
    height: 200px;      /* equals max image height */
    white-space: nowrap;
}

.align-middle {
    vertical-align: middle;
}

.header-underlined {
  @apply --subHeading;
  padding-top: 30px;
  padding-bottom: 5px;
  text-decoration: underline;
}