@import '../settings';
@import '../common/typography';
@import '../common/colors';
@import '../common/button';
@import '../common/input';

.waiting {
  .loading {
    display: block;
  }
}

.alternative {
  padding: 12px 8px;
  font-size: var(--fontMedium);
  text-align: center;
}

.alternative-link {
  color: var(--colorDodgerBlue);
  font-weight: bold;
  cursor: pointer;
  padding-left: 20px;
}

.loading {
  display: none;
  text-align: center;
  margin: 24px auto;
}

.email-container {
  padding: 16px 12px;
  border-bottom: 2px solid var(--colorMercury);
}

.header {}

.heading {
  @apply --subHeading;
  padding: 16px 12px;
  text-align: center;
}

.input {
  @apply --input;
}

.message {
  color: var(--colorCrimson);
  font-size: var(--fontSmall);
}

.hint {
  @apply --small;
  color: var(--colorBombay);
}
.btn-github {
  color: #fff;
  background-color: #444;
  border-color: rgba(0,0,0,0.2);
}
.btn-github:hover {
  color: #fff;
  background-color: #2b2b2b;
  border-color: rgba(0,0,0,0.2);
}
.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0,0,0,0.2);
}
.btn-google:hover {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0,0,0,0.2);
}
.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}
.btn-facebook:hover {
  color: #fff;
  background-color:#2d4373;
  border-color: rgba(0,0,0,0.2);
}
.btn-social {
  margin-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-social-round {
  border-radius: 25px;
}
.btn-social-square {
  border-radius: 2px;
}

.btn-social>:first-child {
  width: 20px;
  height: 32px;
  line-height: 32px;
  font-size: 1.4em;
  text-align: center;
}