@import '../settings';
@import '../common/typography';
@import '../common/colors';

.alternative {
  padding: 12px 8px;
  font-size: var(--fontMedium);
  text-align: center;
}

.alternative-link {
  font-weight: bold;
  cursor: pointer;
  padding-left: 20px;
}

.local-container {
  padding: 16px 12px;
  border-bottom: 2px solid var(--separationLine);
}

.heading {
  @apply --subHeading;
  padding: 16px 12px;
  text-align: center;
}

.btn-social {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid rgba(0,0,0,0.2);
}

.btn-google {
  color: var(--white);
  background-color: var(--googleBtn);
}
.btn-google:hover {
  color: var(--white);
  background-color: var(--googleBtnHover);
}
.btn-facebook {
  color: var(--white);
  background-color: var(--facebookBtn);
  border-color: rgba(0,0,0,0.2);
}
.btn-facebook:hover {
  color: var(--white);
  background-color: var(--facebookBtnHover);
  border-color: rgba(0,0,0,0.2);
}
.btn-social-round {
  border-radius: 25px;
}
.btn-social-square {
  border-radius: 2px;
}
.btn-social>:first-child {
  width: 20px;
  height: 32px;
  line-height: 32px;
  font-size: 1.4em;
  text-align: center;
}