@import '../common/colors';

a.active,
a.active:focus,
a.active:hover {
    color: var(--navbarActiveColor) !important;
    background-color:var(--navbarActiveBackground) !important;
}

.displayName {
    padding-left: 5px;
}

.profilePicture {
    border-radius: 10px;
}

.linkWithImage {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.star {
    padding-right: 2px;
    vertical-align: top;
}