
.control-readvalue {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}

.control-checkbox {
  padding-top: 3px;
  margin-bottom: 0;
  text-align: left;
}

.marginRight {
  margin-right: 10px;
}

.marginBottom {
  margin-bottom: 10px;
}

.paddingLeft {
  padding-left: 10px;
}

.paddingBottom {
  padding-bottom: 10px;
}

.paddingTop {
  padding-top: 10px;
}

.paddingAll {
  padding: 10px;
}

.hide-checkbox {
  display: none;
}

.hide-checkbox:checked + label {
  display: inline-block;
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff;
}

.hide-checkbox + label {
  display: block;
  float: left;
  padding: 6px 12px;
  margin: 2px;
  text-align: center;
  white-space: nowrap;
  background-color: #e6e6e6;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid  #adadad;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.dropzone {
  border: 2px dashed rgb(102, 102, 102);
  border-radius: 5px;
  min-height: 150px;
  padding: 10px;
}

.dz-instruction {
  margin: 10px;
}

.dz-preview {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 10px;
  min-height: 100px;
}

.dz-image {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 10px;
  z-index: 10;
}

.dz-details {
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  text-align: center;
  color: rgba(0,0,0,0.9);
  line-height: 150%;
}

.dz-size-error {
  color: red;
}

.dz-size-valid {
  color: green;
}

.dz-remove {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
}

.opening {
  border: 1px solid rgb(102, 102, 102);
  border-radius: 5px;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.opening-first-line {
  padding-bottom: 15px;
}

.alignRight {
  float: right;
}

.address {
  float: left;
  margin-right: 10px;
}

.inputAddress {
  float: left;
  margin-right: 10px;
}

.labelAddress {
  float: left;
}

@media (max-width: 450px) {
  .hide-btn-label {
    display: none;
  }
  
  .shorten-label {
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


