@import '../common/typography';
@import '../common/colors';

.header {
  @apply --heading;
  padding-top: 15px;
  padding-bottom: 15px;
}

.subheader {
  @apply --subHeading;
  padding-top: 15px;
  padding-bottom: 15px;
}

.title {
  text-align: center;
  color: var(--heading);
}

.paddingBottom {
  padding-bottom: 15px;
}

.lastPaddingBottom {
  padding-bottom: 25px;
}

.image-a {
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  @apply --normal;
}

.address {
  padding-left: 50px;
  @apply --normal;
}

.openings {
  padding-left: 50px;
}

ul.list,
ol.list {
  @apply --normal;
}

ol.listNoType,
ul.listNoType {
  list-style-type: none;
  @apply --normal;
}

.list-item {
  padding-bottom: 5px;
}


ul.toy_list.grid>li .toy-container {
  border: 1px solid #f7f7f7;
  background: #fff;
  padding: 0;
  position: relative;
}

ul.toy_list.grid>li .toy-container:hover {
  border: 1px solid #e0d9d5;
}

ul.toy_list.grid>li .toy-container .toy-image-container {
  border: 0;
  padding: 0;
  margin: 13px;
  position: relative;
}

ul.toy_list .toy-image-container {
  text-align: center;
}

ul.toy_list .toy-image-container img {
  margin: 0 auto;
}

ul.toy_list .toy-name {
  line-height: 1;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.toy-name {
  font: 500 18px "Source Sans pro", sans-serif;
  margin-bottom: 0;
}

a.toy-name:hover {
  text-decoration: none;
}

ul.toy_list.grid {
  margin-top: 0;
  margin-bottom: 6.5px;
  list-style: none;
}

ul.toy_list.grid>li {
  padding-bottom: 20px;
  text-align: center;
}


ul.toy_list.grid>li .toy-container h5 {
  margin-top: 0;
  min-height: 40px;
  margin-bottom: 0;
  padding: 0 15px 7px 15px;
}


.toyLibraries {
  padding: 16px 12px;
  border-bottom: 2px dotted var(--heading);
}

.searchOrBrowseToys {
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.browseToysLink {
  font-size: 32px;
}

.filters {
  border-right: 1px solid #777;
  padding-bottom: 10px;
}

@media (max-width: 770px) {
.filters {
  border: none;
  padding-bottom: 10px;
}
}

.hide-checkbox {
  display: none;
}

.hide-checkbox:checked + label {
  display: inline-block;
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff;
}

.hide-checkbox + label {
  display: block;
  float: left;
  padding: 6px 12px;
  margin: 2px;
  text-align: center;
  white-space: nowrap;
  background-color: #e6e6e6;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid  #adadad;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.content-header {
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.toys-filter-section {
  padding: 5px;
}

ul.listNoType {
  list-style-type: none;
  padding-left: 5px;
}