.primary_block {
    margin-bottom: 20px;
}

.toy-name {
    margin-top: 13px;
    padding-bottom: 0;
    font-size: 36px;
    line-height: 1;
    color: #3a3939;
}

.content-header {
    font-weight: 700;
}

.content {
    text-align: justify;
    clear: both;
    line-height: 18px;
    white-space: pre-wrap;
}

.label {
    display: inline-block;
    font-weight: 700;
    text-align: right;
}

.toy-details-section {
    padding-top: 15px;
}

.available {
    color: green;
}

.unavailable {
    color: red;
}
