
.control-readvalue {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}

.control-checkbox {
  padding-top: 3px;
  margin-bottom: 0;
  text-align: left;
}

.marginRight {
  margin-right: 10px;
}

.paddingLeft {
  padding-left: 10px;
}

.paddingBottom {
  padding-bottom: 10px;
}

@media (max-width: 450px) {
  .hide-btn-label {
    display: none;
  }
  
  .shorten-label {
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
